* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #C3AC6C;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    flex: auto;
}

.logo > img {
    /* border: 1px solid red; */
    margin-left: 35px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    transition: 0.3s all ease-in-out;
}

.nav, .lista {
    display: flex;
    /* border: 1px solid red; */
}

.lista {
    /* border: 1px solid blue; */
    margin-right: 35px;
    text-align: center;
}

.item, .item-ultimo {
    list-style: none;
    font-size: 25px;
}

.item {
    margin: 0 10px;
}

.item-ultimo {
    margin: 0 0 0 10px;
}

.descricao-campinas {
    padding: 10px;
    background-color: #151e45;
    opacity: 0.8;
    color: white;
    text-align: center;
}

.titulo-descricao, .descricao, .scroll {
    margin: 10px 25px;
    text-align: center;
}

.banner.campinas, .banner.saude {
    background-color: #C3AC6C;
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-inovacao,.slide-inovacao {
    flex: auto;
}

.texto-inovacao, .texto-saude {
    margin: 10px 35px;
    color: white;
}

.slide-inovacao, .slide-saude {
    margin-top: 15px;
    margin-bottom: 12px;
    margin-right: 35px;
}

.texto-inovacao > h1, .texto-inovacao > h2, .texto-inovacao > p {
    margin: 10px 0px;
}

.texto-inovacao > p {
    margin-right: 80px;
}

.banner.educacao {
    background-color: #151e45;
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide-educacao {
    display: flex;
    align-items: center;
    flex: auto;
    margin: 17px 30px;
}

.texto-educacao {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;
    margin-left: 125px;
    color: white;
}

.texto-educacao > h1, .texto-educacao > h2, .texto-educacao > p {
    text-align: end;
    margin: 10px 0px;
}

@media only screen and (max-width: 840px) {

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav, .lista {
        display: block;
        text-align: center;
        /* border: 1px solid red; */
    }

    .item-ultimo {
        margin: 0;
    }
}